html{
    box-sizing: border-box;
    }
    
    *, ::after, ::before{ 
     box-sizing: inherit;
    }
    
    
    
    
    .body{
        background-color: rgba(156, 140, 126, 0.329);
        font-family: 'Bruno Ace SC', cursive;
    }
    
    .button{
        color:  blueviolet;
        border: 2px solid blueviolet;
        
    }
    
    .dark{
        background-color: rgb(94, 94, 94);
    }
    .header{
        color:royalblue;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 20px;
    margin: 60px;
    }
    
    
    .przycisk{
        color: rgba(187, 42, 42, 0.971);
    text-align-last:right
    }
    
    
    
    
    .navigation__list{
        font-size: 20px;
        padding: 10px;
        caption-side: top;
        
        text-decoration: none;
        color: green;
        text-shadow: 1px 2px 5px #C1D811;
        border: 2px dotted blueviolet;
    }

    .navigation__list:hover{
        text-decoration: underline;
        background-color: #C1D811;
    }
    
    
    
    
    .przycisk{
        color: rgba(187, 42, 42, 0.971);
    text-align-last:right
    }
    
    .text__one{
        color: green;
        text-align: center;
         font-family: "Arial", sans-serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 2;
    }
    
    .text__two{
        color: green;
        text-align: center;
         font-family: "Arial", sans-serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 2;
    }

    .text__three{
        color: green;
        text-align: center;
         font-family: "Arial", sans-serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 2;
    }
    .text__four{
        color: green;
        text-align: center;
         font-family: "Arial", sans-serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 2;
    }

    .text__five{
        color: green;
        text-align: center;
         font-family: "Arial", sans-serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 2;
    }

    .boxText {
        max-width: 400px;
        height: auto;
        border: 4px dashed;
        padding: 20px;
        margin: 40px auto ;
        background-color: #6d6ff183;
    }
    

    
    .table {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        border-collapse: collapse;
        text-align: center;
        text-decoration: underline;
    }
    
    
    
    
    .tableCell{
        border: 1px solid #0a5300;
        text-align: center;
        vertical-align: middle;
        align-items: center;
    }
      
    
    .tableCell2{
     border: 3px solid #131313;
    color: green;
     font-weight: bold;
     text-align: center;
    padding: 10px;
    align-items: center;
    
    }
    
    .tableCell2:hover {
    background-color: #C1D811    
    }
    
        
    .table2 {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse:collapse;
        text-align: right;
      }

    
    .list{
        list-style-type: upper-roman;
        margin: 10px;
        text-align: center;
        list-style-position: inside;
    }
    
    
    .element {
        width: 300px;
        height: 300px;
        border: 30px solid red;
        outline: 20px rgb(7, 7, 7);   
       
        }
    
        .footer {
        text-align: center;
        font-size: 15px;
        background-color: #93cdec;
        padding: 1px;
        }
    
    